<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Volantis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .menu div{
            display: inline-block;
            width: 20%;
        }
    </style>
</head>
<body>
<div class="menu">
    <div>
        <a href="/reset"> RESET </a>
    </div>
    {% if not session.id in ["3cbc44aa-228f-4df3-b2c2-8f44c201e6e2", "0d0337c1-d4b8-4fa7-a0de-ed64d4372265"] %}
        <div>
            <a href="/3cbc44aa-228f-4df3-b2c2-8f44c201e6e2"> DEVICE 1</a>
        </div>
        <div>
            <a href="/0d0337c1-d4b8-4fa7-a0de-ed64d4372265"> DEVICE 2</a>
        </div>
    {% endif %}
</div>
<h1>Games</h1>

<p><a href="{{ url_for('static', filename="ssp/index.html") }}">P2P</a></p>

<p><a href="{{ url_for('static', filename="javascript-breakout/index.html") }}">Store</a></p>
</body>
</html>