<html>
	<head>
		<link href="/css/screen.css" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://cdn.jsdelivr.net/phaser/2.4.3/phaser.js"></script>
		<script src="{{ url_for('static', filename='js/game.js')}}"></script>
            <meta name="viewport" content="width=device-width, initial-scale=1">

	</head>
	<body>
		<div class="content">
		<canvas height="500px" id="canvas"></canvas>
		</div>
	</body>
</html>
