<!doctype html>
<html>
<head>
    <title>Proposed Matches</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<h1>Proposed Matches for {{ user }}</h1>
<ul>
    {% for match in matches %}
        <li><a>{{ match.participants }}</a></li>
    {% endfor %}
</ul>
<a href="/">Home</a>

</body>
</html>