<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<a href="/">HOME</a>
<ul>
{% for voucher in vouchers %}
    <li>{{ voucher.campaignName }}</li>
{% endfor %}
</ul>
</body>
</html>