<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Voucher</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<a href="/">HOME</a>
<h1>New Voucher</h1>
<p>Campaign: {{ voucher.campaignName }}</p>
<p>ID: {{ voucher.campaignId }}</p>
<p>valid from {{ voucher.effectiveDate }} until {{ voucher.expirationDate }}</p>
<p>Reward: {{ voucher.rewardSpecs }}</p>
</body>
</html>